:root {
    --principal: #121212;
    --gris_bordes: #D9D9D9;
    --secundario: #969696;
  }

  *{
    scroll-behavior: smooth;
  }
  

/*
aside {
    float: left;
    border-radius: 25px;
    border: 1px solid var(--gris_bordes);
    margin: 40px;
    position: fixed;
    width: 22%;
}
.menu  {
    display: flex;
    padding: 50px;
}
nav ul li {
    list-style: none;
    line-height: 50px;
}
nav ul li a {
    font-family: Inconsolata-Regular;
    text-decoration: none;
    color: var(--principal);
}
nav ul li a:hover {
    color: var(--secundario);
}*/




main {
    border-radius: 25px;
    margin: 40px 200px;  
    padding: 60px;
    width: 40%;
    margin: auto;
}

.nombre h1, .nombre h2{
    font-family: OpenSans-Regular;
}
.nombre h1 {
    font-size: 36px;
    font-weight: 400;
}
.nombre h2 {
    font-size: 24px;
    color: #444444;
    font-weight: 200;
}
.nombre h3{
    font-family: Inconsolata-Regular;
    font-size: 22px;
    color: var(--secundario);
    font-weight: 200;
}


article .texto-nombre {
    float: left;
    width: 60%;
}
article .img-nombre {
    float: right;
    width: 40%;
}

.img-nombre img {
    margin: 50px 80px;
    border-radius: 10%;
}


.redes a {
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    padding: 13px 10px 5px 10px;
}
.redes {
    clear: both;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 40px;
}
.redes div {
    align-items: center;
    justify-content: center;
}





 .general h2 {
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: var(--principal);
    font-weight: 600;
    width: 100%;
    float: left;
}
.general p {
    font-family: Inconsolata-Regular;
    font-size: 18px;
    color: var(--secundario);
    font-weight: 200;
    width: 100%;
    margin: 0 0 50px 0;
    clear: both;
}
.general h3 {
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: 200;
    width: 70%;
    float: left;
    margin: -10px 0 10px 0;
}

.general .fecha {
    font-family: Inconsolata-Regular;
    font-size: 20px;
    color: var(--secundario);
    font-weight: 200;
    float: right;    
    width: 30%;
    text-align: right;  
}

h4 {
    margin-top: -40px;
}
.general a {
    margin-bottom: 30px;
    font-family: Inconsolata-Regular;
    border-radius: 25px;
    display: inline-block;
    color: var(--secundario);
    text-decoration: none;
    font-weight: 300;
}
.general  a:hover {
    text-decoration: underline;
    color: #3283D5;
}
.general h4 img:hover {
    content: url(img/exteriorBlue.png);
    text-decoration: underline;
}




.contenedor {
    width: 140%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}
.caja {
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    padding: 40px 30px;
    flex: 0 0 calc(22%);
    height: 200px;
}
.caja a {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 200;
    margin-bottom: 0px;
}
.caja a:hover {
    color: #3283D5;
}

.lenguajes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lenguajes h4 {
    flex: 0 0 calc(30% - 5px);
    margin-bottom: 50px;
    margin-right: 5px;
}
.caja h4 {
    font-family: OpenSans-Regular;
    font-size: 14px;
    text-align: center;
    color: #444444;
    padding: 8px 1px;
    background: #eeeeee;
    border-radius: 30px;
    font-weight: 500;
    display: inline-block;
}

.caja .rojo {
    color: #c3251d;

}
.caja span {
    color: #1DC347;
    font-size: 40px;
    animation: blink 3s infinite;
    position: relative;
    bottom: 4px;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


.habilidades {
    margin-top: 60px;
}
.lenguajes-habilidades {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.lenguaje {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border-radius: 30px;
    padding: 8px 15px;
}
.lenguaje img {
    float: left;
    margin-right: 10px;
    padding: 0px;
}
.lenguaje h4 {
    font-family: OpenSans-Regular;
    font-size: 14px;
    text-align: center;
    color: #444444;
    font-weight: 500;
    display: inline-block;
    margin: 0 0 0px 0;
}




@media screen and (max-width: 470px) {
    main {
        width: 100%;
        margin: auto;
        margin: 0px;  
        padding: 0px;
        margin: auto;
    }


article .img-nombre {
    float: right;
    width: 40%;
}

.img-nombre img {
    width: 100%;
    margin: 20px 0px;
    border-radius: 50%; /* Cambia esto */
}


    .contenedor {
        width: 100%;
        flex-direction: column;
    }
    .caja {
        padding: 10px 20px;
        margin: 0px; 
        flex: 0 0 100%;
    }


    .habilidades {
        margin-bottom: 40px;
    }
    
}





@font-face {
    font-family: Inconsolata-Regular;
    src: url(fonts/Inconsolata-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}