:root {
    --principal: #121212;
    --gris_bordes: #D9D9D9;
    --secundario: #969696;
  }

  *{
    scroll-behavior: smooth;
  }
  
  #toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--gris_bordes);
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
   }
   #toTop img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
   }

   body.dark #toTop img {
    content: url(img/flechaNegra.png);
   }


   button {
    transition: 2s ease all;
    position: absolute;
    float: right;
    margin-bottom: 20px;
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    top: 0;
    right: 0;
    margin: 30px 570px;
    cursor: pointer;
    display: flex;
    outline: none;
  }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .switch.active {
    background: orange;
    color: black;
  }
  .switch.active::after {
    right: 0;
    left: unset;
  }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: none;
    color: white;
}

body.dark {
    background-color: rgb(0, 0, 0);
}
body.dark h1 {
    color: white;
}
body.dark h2 {
    color: #D9D9D9;
}
body.dark h3 {
    color: #c4c4c4;
}

body.dark .general p {
    color: #D9D9D9;
}
body.dark .general h3 {
    color: #ededed;
}
body.dark .caja a {
    color: white;
}
body.dark .github  {
    content: url(img/githubWhite.png);
}
body.dark .figma  {
    content: url(img/figmaWhite.png);
}

/*
aside {
    float: left;
    border-radius: 25px;
    border: 1px solid var(--gris_bordes);
    margin: 40px;
    position: fixed;
    width: 22%;
}
.menu  {
    display: flex;
    padding: 50px;
}
nav ul li {
    list-style: none;
    line-height: 50px;
}
nav ul li a {
    font-family: Inconsolata-Regular;
    text-decoration: none;
    color: var(--principal);
}
nav ul li a:hover {
    color: var(--secundario);
}*/




main {
    border-radius: 25px;
    margin: 40px 200px;  
    padding: 60px;
    width: 40%;
    margin: auto;
}

.nombre h1, .nombre h2{
    font-family: OpenSans-Regular;
}
.nombre h1 {
    font-size: 36px;
    font-weight: 400;
}
.nombre h2 {
    font-size: 24px;
    color: #444444;
    font-weight: 200;
}
.nombre h3{
    font-family: Inconsolata-Regular;
    font-size: 22px;
    color: var(--secundario);
    font-weight: 200;
}


article .texto-nombre {
    float: left;
    width: 60%;
}
article .img-nombre {
    float: right;
    width: 40%;
}

.img-nombre img {
    margin: 50px 80px;
    border-radius: 10%;
    position: absolute;
    
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(103, 103, 103, 0.9);
    transition: opacity 0.25s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal > .modal-content {
    max-width: 90%;
    position: relative;
    padding: 20px;
  }
  .modal .close {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}



.redes a {
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    padding: 13px 10px 5px 10px;
}
.redes {
    clear: both;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 40px;
}
.redes div {
    align-items: center;
    justify-content: center;

}





 .general h2 {
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: var(--principal);
    font-weight: 600;
    width: 100%;
    float: left;
}
.general p {
    font-family: Inconsolata-Regular;
    font-size: 18px;
    color: var(--secundario);
    font-weight: 200;
    width: 100%;
    margin: 0 0 50px 0;
    clear: both;
}
.general h3 {
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: 200;
    width: 70%;
    float: left;
    margin: -10px 0 10px 0;
}

.general .fecha {
    font-family: Inconsolata-Regular;
    font-size: 20px;
    color: var(--secundario);
    font-weight: 200;
    float: right;    
    width: 30%;
    text-align: right;  
}

h4 {
    margin-top: -40px;
}
.general a {
    margin-bottom: 30px;
    font-family: Inconsolata-Regular;
    border-radius: 25px;
    display: inline-block;
    color: var(--secundario);
    text-decoration: none;
    font-weight: 300;
}
.general  a:hover {
    text-decoration: underline;
    color: #3283D5;
}
.general h4 img:hover {
    content: url(img/exteriorBlue.png);
    text-decoration: underline;
}




.contenedor {
    width: 140%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}
.caja {
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    padding: 40px 30px;
    flex: 0 0 calc(22%);
    height: 200px;
}
.caja a {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 200;
    margin-bottom: 0px;
}
.caja a:hover {
    color: #3283D5;
}

.lenguajes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lenguajes h4 {
    flex: 0 0 calc(30% - 5px);
    margin-bottom: 50px;
    margin-right: 5px;
}
.caja h4 {
    font-family: OpenSans-Regular;
    font-size: 14px;
    text-align: center;
    color: #444444;
    padding: 8px 1px;
    background: #eeeeee;
    border-radius: 30px;
    font-weight: 500;
    display: inline-block;
}

.caja .rojo {
    color: #c3251d;

}
.caja span {
    color: #1DC347;
    font-size: 40px;
    animation: blink 3s infinite;
    position: relative;
    bottom: 4px;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


.habilidades {
    margin-top: 60px;
}
.lenguajes-habilidades {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.lenguaje {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    border-radius: 30px;
    padding: 8px 15px;
}
.lenguaje img {
    float: left;
    margin-right: 10px;
    padding: 0px;
}
.lenguaje h4 {
    font-family: OpenSans-Regular;
    font-size: 14px;
    text-align: center;
    color: #444444;
    font-weight: 500;
    display: inline-block;
    margin: 0 0 0px 0;
}




@media screen and (max-width: 470px) {
    main {
        width: 100%;
        margin: auto;
        margin: 0px;  
        padding: 0px;
    }


article .img-nombre {
    float: right;
    width: 40%;
}

.img-nombre img {
    width: 40%;
    border-radius: 50%; /* Cambia esto */
    margin: 60px -10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(103, 103, 103, 0.9);
    transition: opacity 0.25s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-content img {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
  .modal > .modal-content {
    max-width: 90%;
    position: relative;
    padding: 20px;
  }
  .modal .close {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
    .contenedor {
        width: 100%;
        flex-direction: column;
    }
    .caja {
        padding: 10px 20px;
        margin: 0px; 
        flex: 0 0 100%;
    }

    .habilidades {
        margin-bottom: 40px;
    }








    button {
        transition: 2s ease all;
        position: absolute;
        float: right;
        margin-bottom: 20px;
        width: 50px;
    }

    
    .switch {
        background: #343d5b;
        border-radius: 1000px;
        border: none;
        top: 0;
        right: 0;
        left: 30;
        margin: 20px 10px;
        cursor: pointer;
        display: flex;
        outline: none;
      }
    
  .switch::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .switch.active {
    background: orange;
    color: black;
  }
  .switch.active::after {
    right: 0;
    left: unset;
  }
  .switch span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    background-color: none;
    color: white;
}

    
}





@font-face {
    font-family: Inconsolata-Regular;
    src: url(fonts/Inconsolata-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

.politicas h1 {
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: var(--principal);
    font-weight: 600;
    width: 100%;
    float: left;
}
.politicas h2 {
    font-family: OpenSans-Regular;
    font-size: 24px;
    font-weight: 200;
    width: 70%;
    float: left;
}
.politicas p {
    font-family: Inconsolata-Regular;
    font-size: 18px;
    color: var(--secundario);
    font-weight: 200;
    width: 100%;
    margin: 0 0 50px 0;
    clear: both;
}

.politicas h3 {
    font-family: OpenSans-Regular;
    font-size: 18px;
    font-weight: 200;
    width: 70%;
    float: left;
}

.politicas ul {
    font-family: Inconsolata-Regular;
    font-size: 18px;
    color: var(--secundario);
    font-weight: 200;
    width: 100%;
    clear: both;
}
.politicas ul li {
    list-style-type: none;
}

a.politica {
    font-family: Inconsolata-Regular;
    font-size: 18px;
    color: var(--secundario);
    font-weight: 200;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
a.politica:hover {
    text-decoration: underline;
}
